#bubblechart {  
    
    width: 40%;
    height: 55%;
    float: right; 
    background: var(--main-bg-color);
}

#bubblechart #back-icon-container {
    /* position: absolute; */
    top: 10%;
    left: 2%;
    display: none;
    margin: auto;
}

#bubblechart #back-icon {
    width: 48px;
}

#bubblechart #back-subtitle {
    position:right;
    left: 50%;
    bottom: -7px;
    font-size: 1em;
    font-weight: bold;
    white-space:normal;
    
}

#bubblechart .label {
    fill: var(--main-dark-color) !important;
    font-family:'Times New Roman', Times, serif;
    font-size: 13px;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
    white-space: pre-wrap;
}